/* NavBar.css */

.navbar {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #9B59B6; /* Reddit-like orange color */
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Drop shadow for depth */
    border-radius: 10px;
    z-index:1;
  }
  .nav-link {
    color: black;
    text-decoration: none;
    
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #fff; /* White background */
    border-radius: 20px;
    padding: 5px 15px; /* Adjust padding as needed */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for the input */
    width: 55%; /* Set a fixed width for the search bar */
  }
  
  .search-bar input {
    border: none;
    background: transparent;
    color: #333; /* Dark text color */
    outline: none;
    width: 100%; /* Make the input take the full width of the search bar */
  }
  
  .search-icon {
    font-size: 18px;
    color: #ff4500; /* Orange color for the search icon */
    margin-right: 10px;
  }
  
  .subscribe-button {
    background-color:  #4CAF50; /* Reddit-like orange color */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth color transition on hover */
  }
  
  .subscribe-button:hover {
    background-color: #dd3700; /* Darker orange color on hover */
  }
  