/* Sidebar.css */

.sidebar {
    position: fixed;
    top: 65px; /* Adjust this value to place the sidebar below the navbar */
    left: 0;
    bottom: 0;
    width: 20%;
    background-color: #C5FAD5; /* White background */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Drop shadow for depth */
    overflow-y: auto; /* Add scroll if content exceeds the sidebar height */
  }
  
  h3 {
    font-size: 18px;
    color: #333; /* Dark text color */
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid #090909;
  }
  
  
  
  .navbar-nav li {
    margin-bottom: 10px;
    text-align: center;
  }
  
 
  